.cmp_wrap_header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.cmp_navigation {
  display: flex;
  width: 1291px;
  /* align-items: center; */
}

.cmp_header_list {
  display: flex;
  list-style: none;
  margin-left: 276px;
  padding: 0;
  margin-top: 50px;
}

.cmp_header_item{
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: black;
}

.cmp_header_link {
  color: black;
}

.cmp_header_logo {
  width: 155px;
  height: 57px;
  margin-top: 29px;
}

.burger_menu{
  display: none;
} 
.cps_wrap_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

.cps_footer {
  width: 1291px;
  height: 281px;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.cps_footer_list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin-top: 65px;
  margin-left: 727px;
  width: 408px;
}

.cps_footer_link {
  font-size: 22px;
  color: black;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.cmp_footer_link {
  margin-top: 48px;
}

.cps_company_year {
  font-size: 22px;
  font-family: "Roboto Regular", sans-serif;
}

.footer_icons {
  /* width: 408px; */
  margin-left: 739px;
}

.footer_social {
  display: flex;
}

.footer_nav {
  display: flex;
  /* margin-left: 150px; */
}

.icons_link {
  margin-left: 21px;
}

.icons_logo {
  width: 29px;
  height: 29px;
}

.cmp_header_arrow {
  margin-left: 50px;
  margin-top: 53px;
}

.cps_footer_phone {
  display: none;
}




@media (min-width: 992px) and (max-width: 1290px) {
  .cmp_navigation {
    width: 992px;
  }

  .cmp_header_item {
    font-size: 18px;
  }

  .cmp_header_item {
    margin-left: 40px;
  }

  .cmp_header_list {
    margin-left: 84px;
    margin-top: 24px;
  }

  .cmp_header_arrow {
    width: 18px;
    height: 16px;
    margin-top: 26px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 19px;
  }

  .cps_footer {
    width: 992px;
    /* padding: 0 71px 0 88px; */
  }

  .cmp_footer_logo {
    width: 137px;
    height: 50px;
    margin-left: 88px;
  }

  .footer_nav {
    height: 90px;
  }

  .footer_social {
    height: 50px;
    position: absolute;
    align-items: center;
    top: 170px;
  }

  .cps_footer_list {
    margin-top: 65px;
    margin-left: 339px;
    width: 357px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 18px;
  }

  .icons_logo {
    width: 27px;
    height: 27px;
  }

  .footer_icons {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 317px;
  }

  .cps_company_year {
    margin-top: 0px;
    font-size: 18px;
    margin-left: 88px;
  }

  .icons_link {
    margin-left: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cmp_navigation {
    width: 768px;
  }

  .cmp_header_item {
    font-size: 16px;
  }

  .cmp_header_item {
    margin-left: 25px;
  }

  .cmp_header_list {
    padding: 0;
    margin-top: 25px;
  }

  .cmp_header_arrow {
    width: 14px;
    height: 13px;
    margin-top: 28px;
  }

  .cmp_header_list {
    margin-left: 7px;
  }

  .cmp_header_arrow {
    margin-left: 25px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 19px;
  }

  .cps_footer {
    width: 768px;
    /* padding: 0 22px 0 20px; */
    height: 261px;
  }

  .footer_nav {
    width: 726px;
    margin-left: 20px;
  }

  .cps_footer_list {
    margin-left: 293px;
    width: 332px;
    margin-top: ;
  }

  .cps_footer_item {
    margin-left: 0;
  }

  .cmp_footer_logo {
    width: 101px;
    height: 37px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 16px;
  }

  .icons_logo {
    width: 27px;
    height: 27px;
  }

  .footer_icons {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
  }

  .cps_company_year {
    font-size: 16px;
  }

  .footer_social {
    width: 726px;
    justify-content: space-between;
    margin-left: 20px;
    position: absolute;
    top: 150px;
    align-items: center;
    height: 27px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cmp_header_list {
    display: none;
  }

  .cmp_header_arrow {
    display: none;
  }

  .burger_menu {
    display: block;
    margin-left: 402px;
  }

  .menu_img {
    width: 24px;
    height: 24px;
    margin-top: 25px;
  }

  .cmp_navigation {
    width: 576px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .cps_footer {
    width: 576px;
    /* padding: 0 23px 0 20px; */
    height: 251px;
  }

  .cps_footer_list {
    margin-left: 103px;
    width: 326px;
  }

  .cmp_footer_logo {
    width: 98px;
    height: 36px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 16px;
  }

  .icons_logo {
    width: 20px;
    height: 20px;
  }

  .icons_link {
    margin-left: 20px;
  }

  .footer_icons {
    margin-left: 102px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 272px; */
  }

  .footer_nav {
    width: 533px;
    margin-left: 20px;
  }

  .cps_company_year {
    /* margin-top: 65px; */
    font-size: 16px;
  }

  .footer_social {
    width: 533px;
    margin-left: 20px;
    position: absolute;
    top: 149px;
    align-items: center;
  }

  /* .cps_footer_item {
    margin-left: 69px;
  } */

  .cps_footer_list {
    margin-top: 55px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .cmp_header_list {
    display: none;
  }

  .cmp_header_arrow {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .cmp_navigation {
    width: 320px;
    /* padding: 0 19px; */
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .menu_img {
    width: 24px;
    height: 24px;
    margin-top: 23px;
    margin-left: 150px;
  }

  .menu_img_acc {
    width: 24px;
    height: 24px;
    margin-right: 17px;
  }

  .cps_footer {
    display: none;
  }

  .cps_footer_phone {
    display: block;
    width: 280px;
  }

  .cmp_footer_logo {
    width: 98px;
    height: 36px;
    margin-top: 30px;
  }

  .cps_footer_link {
    font-size: 16px;
    margin-top: 28px;
  }

  .footer_icons {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0;
    margin-top: 33px;
  }

  .icons_link {
    margin-left: 0;
  }

  .icons_logo {
    width: 22px;
    height: 22px;
  }

  .cps_company_year {
    margin-top: 27px;
    font-size: 16px;
    margin-bottom: 55px;
  }

  .cps_footer_list {
    margin: 0;
    width: 280px;
    margin-top: 28px;
  }
}

body {
  padding: 0;
  margin: 0;
}

.header_acc {
  width: 100%;
}

.header_wrap {
  width: 1374px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  width: 374px;
}

.header_logo {
  margin-top: 6px;
  margin-bottom: 10px;
  width: 117px;
  height: 43px;
}

.header_nav_item {
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto Regular", sans-serif;
}

.main_wrap_acc {
  background: #e5e5e5;
  padding-top: 60px;
  padding-bottom: 302px;
}

.acc_text {
  width: 1374px;
  margin: 0 auto;
}

.acc_content {
  display: flex;
  width: 1433px;
  display: flex;
  justify-content: space-between;
}

.content-1,
.content-2 {
  /* display: none; */
  width: 457px;
  height: 244px;
  border-radius: 10px;
  background: white;
  display: block;
}

.content_item {
  width: 457px;
  height: 244px;
  border-radius: 10px;
  background: white;
  display: block;
}

.create_open {
  display: block;
  width: 457px;
  background: white;
  height: 679px;
  border-radius: 10px;
  position: absolute;
}

.create_open-2 {
  display: block;
  width: 457px;
  background: white;
  height: 679px;
  border-radius: 10px;
  position: absolute;
  left: 488px;
}

.content_item_create,
.content_item_create-2 {
  width: 457px;
  background: white;
  height: 679px;
  border-radius: 10px;
  display: none;
}

.acc_heading {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
}

.acc_paragraph {
  margin: 0;
  width: 397px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0 13px;
}

.content_title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-left: 30px;
  margin-top: 32px;
  font-weight: normal;
}

.content_text {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.content_hint {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: grey;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 15px;
}

.content_btns {
  display: flex;
  margin-top: -17px;
}

.btn_create {
  display: none;
}


.content_btn {
  border: 1px solid black;
  max-width: 131px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 30px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

.btn_back_line {
  margin: 0;
  margin-left: 10px;
}

.btn_start {
  background: #ffac22;
  margin: 0;
  margin-left: 30px;
  border: none;
  padding: 10px 15px 12px 15px;
}

.btn_images,
.btn_data,
.btn_back,
.btn_back_text,
.btn_data_text {
  display: none;
}

.content_link {
  text-decoration: none;
  color: black;
}

.data_wrap {
  width: 910px;
  height: 138px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 38px 36px 36px;
}

.data_wrapper {
  width: 1374px;
  margin: 0 auto;
}

.data_title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 66px 0 26px;
}

.data_item {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
}

.data_item_title {
  color: grey;
  font-size: 16px;
}

.process {
  color: #ffac22;
}

.mining_btn {
  max-width: 38px;
  color: grey;
  border: 1px solid grey;
}

.mining_title,
.mining_text,
.mining_hint {
  color: grey;
}

.data_wrap_phone-1 {
  display: none;
}

.burger_menu_link {
  display: none;
}

.item_mining {
  background-color: rgba(241, 241, 241, 0.45);
}

.data-wrap_phone-2 {
  display: none;
}

.burger_menu_open_lk {
  display: block;
  position: absolute;
  width: 320px;
  height: 286px;
  top: 0;
  right: 0;
  background: white;
  border: 1px solid black;
}

.burger_menu_lk {
  display: none;
}

.burger_menu_close {
  width: 14px;
  height: 14px;
  margin-top: 35px;
  margin-right: 32px;
  cursor: pointer;
}

.burger_menu_header {
  display: flex;
  justify-content: space-between;
}

.menu_burger_item {
  padding-left: 20px;
  margin-top: 50px;
}

.main_wrap {
  /* width: 1434px; */
  margin: 0 auto;
}

.item_computing {
  color: grey;
}

.data_item_period {
  font-weight: bold;
}

.orange_hint {
  color: #ffac22;
}


.slider_range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 266px;
  background: #c4c4c4;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 4px;
  background: #ffac22;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0;
}

.line {
  width: 397px;
  display: flex;
  margin: 0 auto;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 17px;
  position: relative;
  height: 44px;
}

.line-info {
  width: 397px;
  display: flex;
  margin: 0 auto;
  align-items: baseline;
  margin: 0;
  height: 24px;
  margin-left: 30px;
  margin-top: 32px;
}

.line_slider {
  line-height: 3;
  margin-top: 0;
}

.hint_create {
  margin-bottom: 0;
}

.line-2 {
  width: 397px;
  display: flex;
  margin: 0 auto;
  margin-top: 17px;
  align-items: center;
  height: 44px;
  position: relative;
}

.line-text {
  font-size: 16px;
  font-family: "Roboto Regular", sans-serif;
}

.line-text-info {
  margin: 0;
  height: 24px;
}

.label_range {
  position: absolute;
  left: 116px;
  font-size: 16px;
  font-family: "Roboto Regular", sans-serif;
}

.line-input {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 15px;
  width: 145px;
}

.line_arrow {
  position: absolute;
  left: 373px;
  top: 21px;
}

.line_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  margin-left: 22px;
  background-color: #37b34a;
}

.test_split {
  margin-left: 62px;
  margin-right: 18px;
}

.data_size {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 50px;
}

.data_datapoints {
  font-weight: bold;
  margin-left: 10px;
}

.line_btn {
  display: flex;
  margin-top: 30px;
}

.check_mark {
  position: absolute;
  left: 60px;
  top: 17px;
}

@media (min-width: 992px) and (max-width: 1290px) {
  .header_wrap {
    width: 987px;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin: 15px 0 15px 14px;
  }

  .main_wrap {
    width: 992px;
    margin: 0 auto;
  }

  .acc_text,
  .acc_heading {
    width: 992px;
    margin: 0;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 113px;
    width: 992px;
    margin: 0 auto;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }

  .acc_wrap {
    width: 992px;
    padding-left: 21px;
  }

  .acc_content {
    width: 952px;
    margin: 0;
  }

  .content_title,
  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 22px;
  }

  .header_nav {
    width: 354px;
    margin-right: 18px;
  }

  .data_wrapper {
    width: 992px;
    padding-left: 21px;
  }

  .data_item {
    font-size: 16px;
  }

  .data_title {
    margin: 119px 0 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header_wrap {
    width: 768px;
    margin: 0 auto;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .header_nav {
    margin-right: 20px;
  }

  .acc_heading {
    margin: 0;
  }

  .acc_wrap {
    width: 768px;
    padding-left: 20px;
  }

  .acc_paragraph {
    margin: 5px 0 24px;
  }

  .main_wrap {
    width: 768px;
    margin: 0 auto;
  }

  .acc_text {
    width: 768px;
    margin: 0 auto;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }

  .acc_content {
    width: 924px;
  }

  .data_wrapper {
    width: 768px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .data_title {
    margin: 98px 0 22px;
  }

  .data_wrap {
    grid-template-columns: 110px 110px 139px 110px 110px 110px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 99px;
  }

  .data_item {
    font-size: 14px;
  }

  .content_hint {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header_wrap {
    width: 576px;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .header_nav {
    margin-right: 20px;
  }

  .acc_heading {
    margin: 0;
  }

  .main_wrap {
    width: 576px;
    margin: 0 auto;
  }

  .acc_text {
    width: 576px;
    margin: 0 auto;
  }

  .header_nav {
    width: 324px;
  }

  .acc_paragraph {
    margin: 5px 0 24px;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }

  .content_title,
  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 23px;
  }

  .acc_wrap {
    width: 536px;
    margin: 0 auto;
  }

  .acc_content {
    width: 924px;
  }

  .data_wrap {
    display: none;
  }

  .data_wrapper {
    width: 537px;
  }

  .data_wrap_phone-1 {
    display: grid;
    width: 576px;
    padding-left: 20px;
    grid-template-columns: 1fr 1fr 169px 1fr;
  }

  .data_period {
    grid-column: 2 / span2;
  }

  .process {
    grid-column: 4;
  }

  .item_start {
    grid-column: 1;
  }

  .data_item {
    font-size: 14px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 88px;
  }

  .content_hint {
    font-size: 15px;
  }

  .data_title {
    margin: 98px 0 24px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .header_nav {
    display: none;
  }

  .main_wrap {
    width: 320px;
    margin: 0 auto;
  }

  .acc_text {
    width: 320px;
    margin: 0 auto;
  }

  .burger_menu_link {
    display: block;
  }

  .header_wrap {
    width: 320px;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 97px;
  }

  .acc_wrap {
    width: 320px;
    padding-left: 20px;
    margin-bottom: 74px;
  }

  .acc_content {
    width: 320px;
    flex-wrap: wrap;
  }

  .acc_text {
    width: 320px;
  }

  .acc_heading {
    font-size: 20px;
    margin: 0;
  }

  .acc_paragraph {
    font-size: 14px;
    width: 280px;
    margin: 5px 0 20px;
  }

  .content_item {
    width: 280px;
    height: 252px;
    margin-bottom: 37px;
  }

  .content_title {
    font-size: 20px;
    margin-left: 23px;
  }

  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 23px;
    font-size: 14px;
  }

  .data_wrapper {
    width: 280px;
    margin-top: -66px;
  }

  .data_wrap {
    display: none;
  }

  .data-wrap_phone-2 {
    width: 280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }

  .data_item {
    font-size: 14px;
  }

  .item_price {
    grid-row: 4;
    grid-column: 1;
  }

  .item_price_tx {
    grid-row: 4;
    grid-column: 2;
  }

  .item_wasted {
    grid-row: 5;
    grid-column: 1;
  }

  .item_wasted_tx {
    grid-row: 5;
    grid-column: 2;
  }

  .item_duration {
    grid-row: 6;
    grid-column: 1;
  }

  .item_duration_tx {
    grid-row: 6;
    grid-column: 2;
  }

  .data_tx-1 {
    grid-row: 8;
    grid-column: 1;
  }

  .data_tx-2 {
    grid-row: 8;
    grid-column: 2;
  }

  .data_tx-3 {
    grid-row: 9;
    grid-column: 2;
  }

  .data_tx-4 {
    grid-row: 11;
    grid-column: 2;
  }

  .data_tx-5 {
    grid-row: 12;
    grid-column: 2;
  }

  .data_tx-6 {
    grid-row: 13;
    grid-column: 2;
  }
}

/* .reg {
  /* position: relative; */
  /* width: 1290px;
  display: grid;
  display: flex;
  top: 0px;
  justify-content: center;
  top: 300px;
}  */

.wrap_reg {
  max-width: 667px;
  height: 587px;
  margin: 75px auto 42px;
  background: #f9f9f9;
  display: flex;
  /* justify-content: center; */
  border-radius: 20px;
  align-items: center;

}

.wrap_signup {
  display: grid;
  width: 367px;
  /* margin: 100px auto; */
  margin-left: 150px;
}
.reg_link {
  position: relative;
  left: 230px;
  top: 200px;
}

.wrap_profile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile {
  position: relative;
  width: 1320px;
  display: grid;
  grid-template-columns: repeat(2, 20%) 1fr;
}
.header {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 20%) repeat(3, 1fr);
  grid-column: 1 / 6;
}
.subscribe {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  grid-column: 1 / 2;
  color: black;
}
.unsubscribe {
  position: relative;
  left: -29px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-decoration-line: underline;
  grid-column: 2 / 3;
  color: black;
}
#unsubscribe2 {
  grid-column: 4 / 5;
  width: 69px;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: black;
  position: relative;
  left: 304px;
  top: 40px;
}
#exit {
  display: grid;
  grid-column: 5 / 6;
  justify-content: end;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  text-decoration-line: underline;
  position: relative;
  top: 0px;
  left: 212px;
  height: 30px;
  width: 63px;
  color: black;
}
#postpone {
  grid-column: 3 / 4;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 79px;
  height: 30px;
  position: relative;
  left: 421px;
  top: 40px;
  color: black;
}
#table {
  top: 40px;
  width: 121px;
  height: 30px;
  grid-column: 5 / 6;
  position: relative;
  left: 167px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: black;
}
.searchForm {
  position: relative;
  top: 44px;
  height: 40px;
  width: 255px;
  border: 0 0 0 0;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: 24px;
  z-index: 11;
}
#searchImg {
  position: relative;
  left: -29px;
  top: 52px;
  cursor: pointer;
  z-index: 100;
}
.wrap_userData {
  position: relative;
  top: 168px;
  display: grid;
  justify-content: center;
  width: 1320px;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
.userInfo {
  width: 100%;
  grid-column: 1 / 2;
  grid-template-columns: 60% 40%;
  position: relative;
  display: grid;
}
.infoBlock1 {
  grid-column: 1 / 2;
  position: relative;
  top: -36px;
  grid-template-columns: repeat(2, 6%) 33% 55%;
  grid-template-rows: repeat(3, 1fr);
  display: grid;
}
.infoBlock2 {
  grid-column: 2 / 3;
  position: relative;
  top: -33px;
}
.areas {
  position: relative;
  width: 520px;
  height: 105px;
  top: 15px;
  left: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 7px;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 0px;
}
.formAdmin {
  position: relative;
  top: -25px;
}
.buttonChange {
  position: relative;
  z-index: 1;
  top: -10px;
  left: 470px;
}
.eachCheck {
  position: relative;
  top: 15px;
  width: 24px;
  height: 24px;
}
.credentials {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  height: 50px;
}
.usAdd {
  position: relative;
  top: -29px;
  position: relative;
  top: -26px;
  width: 740px;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}
.usTime {
  position: relative;
  top: -29px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.usPay {
  position: relative;
  top: -29px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.usPhone {
  position: relative;
  top: -29px;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
#ars::placeholder {
  color: black;
}
.areasDouble {
  position: relative;
  width: 520px;
  height: 105px;
  top: 15px;
  left: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 7px;
  padding-bottom: 64px;
  padding-left: 7px;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 0px;
}
.actSub {
  font-weight: 700;
  text-decoration: none;
}
.subAdd {
  font-weight: 400 !important;
}
#postpone2 {
  grid-column: 3 / 4;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 79px;
  height: 30px;
  position: relative;
  left: 281px;
  top: 40px;
  color: black;
}
#unsubscribe3 {
  grid-column: 4 / 5;
  width: 258px;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #808080;
  position: relative;
  left: 141px;
  top: 40px;
}
.detectDelete {
  position: relative;
}

@media (min-width: 992px) and (max-width: 1290px) {
  .wrap_reg {
    max-width: 599px;
    margin: 40px auto 25px;
  }

  .form__paragraph {
    font-size: 18px;
  }
}

.wrap_enter {
  max-width: 667px;
  height: 587px;
  background-color: #f9f9f9;
  margin: 75px auto 42px;
  position: relative;
  border-radius: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.wrap_formEnter {
  width: 367px;
  /* margin: 100px auto; */
  margin-left: 150px;
  display: grid;
  position: relative;
}
.form__title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  margin: 0;
  color: #1a202c;
}
.form__paragraph {
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 5px 0 25px;
  color: #000;
}

.form__link {
  text-decoration: underline;
  color: #000;
}

.form__password {
  text-decoration: underline;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: #808080;
}

.form__input {
  width: 100%;
  border-radius: 7px;
  padding: 10px 20px 12px;
  margin-bottom: 15px;
  border: 2px solid #808080;
  box-sizing: border-box;
  background-color: transparent;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.form__input:focus,
.form__input:active,
.form__input:focus-visible {
  outline: 0;
  outline-offset: 0;
  color: #000;
  border-color: #000;
  border: 2px solid black;
}

.form__input::placeholder {
  color: #808080;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.form__button {
  border: 2px solid #ffac22;
  border-radius: 7px;
  padding: 10px 21px 12px;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  background-color: transparent;
  max-width: 160px;
}

.form__button:disabled {
  border-color: #808080;
  color: #808080;
}

.form__label {
  margin-bottom: 5px;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  background-color: #f7fafc;
  border: 1px solid #808080;
  border-radius: 8px;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  margin: 0 11px 0 0;
}

.form__checkbox:checked {
  background-color: #ffac22;
}

.form__input:checked{
  border-color: black;
}

.eye_pass {
  position: absolute;
    top: 247px;
    left: 325px;
}

.eye_pass_black {
  display: none;
  position: absolute;
  top: 247px;
  left: 325px;
}

.open_eye{
  display: block;
  position: absolute;
  top: 247px;
  left: 325px;
}

@media (min-width: 992px) and (max-width: 1290px) {
  .wrap_enter {
    margin: 40px auto 20px;
    max-width: 599px;
    height: 503px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 18px;
  }

  .form__button {
    width: 150px;
  }

  .eye_pass {
    position: absolute;
    top: 244px;
    left: 325px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_enter {
    height: 572px;
    max-width: 727px;
    margin: 40px auto 25px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 16px;
  }

  .form__button {
    width: 135px;
  }

  .eye_pass {
    position: absolute;
    top: 240px;
    left: 325px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .wrap_enter {
    height: 485px;
    width: 536px;
    margin: 25px auto 25px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 16px;
  }

  .eye_pass {
    position: absolute;
    top: 240px;
    left: 325px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .wrap_enter {
    height: 415px;
    max-width: 320px;
    margin: 10px auto;
  }

  .form__title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 22px;
  }

  .form__paragraph {
    font-size: 16px;
    line-height: 140%;
    margin-top: 5px;
  }

  .form__label {
    font-size: 16px;
    line-height: 19px;
  }

  .form__checkbox {
    font-size: 16px;
  }

  .form__container {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    align-items: start;
  }

  .form__button {
    font-size: 16px;
    /* padding: 5px 15px 5px; */
    width: 130px;
    /* margin-bottom: 7px; */
    line-height: 22px;
  }

  .form__password {
    font-size: 16px;
    margin-top: 15px;
    line-height: 19px;
  }

  .form__input {
    font-size: 16px;
    padding: 10px 20px 10px;
    line-height: 22px;
    /* margin-top: 5px; */
  }

  .wrap_reg {
    max-width: 320px;
    margin: 25px auto 10px;
  }

  .wrap_signup {
    margin: 29px auto;
  }

  .eye_pass {
    position: absolute;
    top: 222px;
    left: 247px;
  }
}

@media (min-width: 992px) and (max-width: 1290px) {
  .wrap_reg {
    max-width: 599px;
    margin: 40px auto 25px;
    height: 503px;
  }

  .wrap_signup,
  .wrap_formEnter{
    margin-left: 116px;
  }

  
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_reg {
    max-width: 727px;
    margin: 40px auto 25px;
    height: 572px;
  }

  .wrap_signup {
    width: 367px;
    margin-left: 181px;
  }

  .wrap_formEnter {
    margin-left: 181px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .wrap_reg {
    max-width: 536px;
    margin: 25px auto 25px;
    height: 485px;
  }

  .wrap_signup {
   margin-left: 84px;
  }

  .wrap_formEnter {
    margin-left: 84px;
  }

  .form__button {
    max-width: 133px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .wrap_reg {
    max-width: 320px;
    margin: 10px auto;
    height: 395px;
  }

  .reg {
    height: 100%;
  }

  .form__title-reg {
    margin-top: 29px;
  }

  .wrap_signup {
    padding: 0 20px 0;
    display: table-cell;
  }

  .wrap_formEnter {
    margin-left: 20px;
    width: 280px;
    margin-top: -31px;
  }

}

