.cps_wrap_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

.cps_footer {
  width: 1291px;
  height: 281px;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.cps_footer_list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin-top: 65px;
  margin-left: 727px;
  width: 408px;
}

.cps_footer_link {
  font-size: 22px;
  color: black;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.cmp_footer_link {
  margin-top: 48px;
}

.cps_company_year {
  font-size: 22px;
  font-family: "Roboto Regular", sans-serif;
}

.footer_icons {
  /* width: 408px; */
  margin-left: 739px;
}

.footer_social {
  display: flex;
}

.footer_nav {
  display: flex;
  /* margin-left: 150px; */
}

.icons_link {
  margin-left: 21px;
}

.icons_logo {
  width: 29px;
  height: 29px;
}

.cmp_header_arrow {
  margin-left: 50px;
  margin-top: 53px;
}

.cps_footer_phone {
  display: none;
}




@media (min-width: 992px) and (max-width: 1290px) {
  .cmp_navigation {
    width: 992px;
  }

  .cmp_header_item {
    font-size: 18px;
  }

  .cmp_header_item {
    margin-left: 40px;
  }

  .cmp_header_list {
    margin-left: 84px;
    margin-top: 24px;
  }

  .cmp_header_arrow {
    width: 18px;
    height: 16px;
    margin-top: 26px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 19px;
  }

  .cps_footer {
    width: 992px;
    /* padding: 0 71px 0 88px; */
  }

  .cmp_footer_logo {
    width: 137px;
    height: 50px;
    margin-left: 88px;
  }

  .footer_nav {
    height: 90px;
  }

  .footer_social {
    height: 50px;
    position: absolute;
    align-items: center;
    top: 170px;
  }

  .cps_footer_list {
    margin-top: 65px;
    margin-left: 339px;
    width: 357px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 18px;
  }

  .icons_logo {
    width: 27px;
    height: 27px;
  }

  .footer_icons {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 317px;
  }

  .cps_company_year {
    margin-top: 0px;
    font-size: 18px;
    margin-left: 88px;
  }

  .icons_link {
    margin-left: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cmp_navigation {
    width: 768px;
  }

  .cmp_header_item {
    font-size: 16px;
  }

  .cmp_header_item {
    margin-left: 25px;
  }

  .cmp_header_list {
    padding: 0;
    margin-top: 25px;
  }

  .cmp_header_arrow {
    width: 14px;
    height: 13px;
    margin-top: 28px;
  }

  .cmp_header_list {
    margin-left: 7px;
  }

  .cmp_header_arrow {
    margin-left: 25px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 19px;
  }

  .cps_footer {
    width: 768px;
    /* padding: 0 22px 0 20px; */
    height: 261px;
  }

  .footer_nav {
    width: 726px;
    margin-left: 20px;
  }

  .cps_footer_list {
    margin-left: 293px;
    width: 332px;
    margin-top: ;
  }

  .cps_footer_item {
    margin-left: 0;
  }

  .cmp_footer_logo {
    width: 101px;
    height: 37px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 16px;
  }

  .icons_logo {
    width: 27px;
    height: 27px;
  }

  .footer_icons {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
  }

  .cps_company_year {
    font-size: 16px;
  }

  .footer_social {
    width: 726px;
    justify-content: space-between;
    margin-left: 20px;
    position: absolute;
    top: 150px;
    align-items: center;
    height: 27px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cmp_header_list {
    display: none;
  }

  .cmp_header_arrow {
    display: none;
  }

  .burger_menu {
    display: block;
    margin-left: 402px;
  }

  .menu_img {
    width: 24px;
    height: 24px;
    margin-top: 25px;
  }

  .cmp_navigation {
    width: 576px;
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .cps_footer {
    width: 576px;
    /* padding: 0 23px 0 20px; */
    height: 251px;
  }

  .cps_footer_list {
    margin-left: 103px;
    width: 326px;
  }

  .cmp_footer_logo {
    width: 98px;
    height: 36px;
  }

  .cps_footer_link,
  .cps_footer_link {
    font-size: 16px;
  }

  .icons_logo {
    width: 20px;
    height: 20px;
  }

  .icons_link {
    margin-left: 20px;
  }

  .footer_icons {
    margin-left: 102px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 272px; */
  }

  .footer_nav {
    width: 533px;
    margin-left: 20px;
  }

  .cps_company_year {
    /* margin-top: 65px; */
    font-size: 16px;
  }

  .footer_social {
    width: 533px;
    margin-left: 20px;
    position: absolute;
    top: 149px;
    align-items: center;
  }

  /* .cps_footer_item {
    margin-left: 69px;
  } */

  .cps_footer_list {
    margin-top: 55px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .cmp_header_list {
    display: none;
  }

  .cmp_header_arrow {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .cmp_navigation {
    width: 320px;
    /* padding: 0 19px; */
  }

  .cmp_header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .menu_img {
    width: 24px;
    height: 24px;
    margin-top: 23px;
    margin-left: 150px;
  }

  .menu_img_acc {
    width: 24px;
    height: 24px;
    margin-right: 17px;
  }

  .cps_footer {
    display: none;
  }

  .cps_footer_phone {
    display: block;
    width: 280px;
  }

  .cmp_footer_logo {
    width: 98px;
    height: 36px;
    margin-top: 30px;
  }

  .cps_footer_link {
    font-size: 16px;
    margin-top: 28px;
  }

  .footer_icons {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0;
    margin-top: 33px;
  }

  .icons_link {
    margin-left: 0;
  }

  .icons_logo {
    width: 22px;
    height: 22px;
  }

  .cps_company_year {
    margin-top: 27px;
    font-size: 16px;
    margin-bottom: 55px;
  }

  .cps_footer_list {
    margin: 0;
    width: 280px;
    margin-top: 28px;
  }
}
