body {
  padding: 0;
  margin: 0;
}

.header_acc {
  width: 100%;
}

.header_wrap {
  width: 1374px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  width: 374px;
}

.header_logo {
  margin-top: 6px;
  margin-bottom: 10px;
  width: 117px;
  height: 43px;
}

.header_nav_item {
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto Regular", sans-serif;
}

.main_wrap_acc {
  background: #e5e5e5;
  padding-top: 60px;
  padding-bottom: 302px;
  /* width: 1434px; */
}

.acc_text {
  width: 1374px;
  margin: 0 auto;
}

.acc_content {
  display: flex;
  width: 1433px;
  display: flex;
  justify-content: space-between;
  /* margin-left: -71px; */
}

.content_item {
  width: 457px;
  height: 244px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: white;
}

.acc_heading {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  /* margin-left: 60px; */
  margin-bottom: 5px;
}

.acc_paragraph {
  margin: 0;
  width: 397px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0 13px;
}

.content_title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-left: 30px;
  font-weight: normal;
}

.content_text {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
}

.content_hint {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: grey;
  margin-left: 30px;
}

.content_btn {
  border: 1px solid black;
  max-width: 131px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 30px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

.content_link {
  text-decoration: none;
  color: black;
}

.data_wrap {
  width: 910px;
  height: 138px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 38px 36px 36px;
}

.data_wrapper {
  width: 1374px;
  margin: 0 auto;
}

.data_title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 66px 0 26px;
}

.data_item {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
}

.data_item_title {
  color: grey;
  font-size: 16px;
}

.process {
  color: #ffac22;
}

.mining_btn {
  max-width: 38px;
  color:grey;
  border: 1px solid grey;
}

.mining_title,
.mining_text,
.mining_hint {
  color: grey;
}

.data_wrap_phone-1 {
  display: none;
}

.burger_menu_link {
  display: none;
}

.item_mining {
  background-color: rgba(241, 241, 241, 0.45);
}

.data-wrap_phone-2 {
  display: none;
}

.burger_menu_open_lk {
  display: block;
  position: absolute;
  width: 320px;
  height: 286px;
  top: 0;
  right: 0;
  background: white;
  border: 1px solid black;
}

.burger_menu_lk {
  display: none;
  /* position: absolute;
  width: 280px;
  height: 286px;
  top: 0;
  background: white;
  border: 1px solid black; */
}


.burger_menu_close{
  width: 14px;
  height: 14px;
  margin-top: 35px;
  margin-right: 32px;
  cursor: pointer;
}

.burger_menu_header {
  display: flex;
  justify-content: space-between;
}

.menu_burger_item {
  padding-left: 20px;
  margin-top: 50px;
}

.main_wrap {
  width: 1434px;
  margin: 0 auto;
}

.item_computing {
  color: grey;
}

.data_item_period {
  font-weight: bold;
}


@media (min-width: 992px) and (max-width: 1290px) {
  .header_wrap {
    width: 987px;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin: 15px 0 15px 14px;
  }

  .main_wrap {
    width: 992px;
    margin: 0 auto;
  }

  .acc_text,
  .acc_heading {
    width: 992px;
    margin: 0;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 113px;
    width: 992px;
    margin: 0 auto;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }

  .acc_wrap {
    width: 992px;
    padding-left: 21px;
  }

  .acc_content {
    width: 952px;
    margin: 0;
  }

  .content_title,
  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 22px;
  }

  .header_nav {
    width: 354px;
    margin-right: 18px;
  }

  .data_wrapper {
    width: 992px;
    padding-left: 21px;
  }

  .data_item {
    font-size: 16px;
  }

  .data_title {
    margin: 119px 0 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header_wrap {
    width: 768px;
    margin: 0 auto;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .header_nav {
    margin-right: 20px;
  }

  .acc_heading {
    margin: 0;
  }

  .acc_wrap {
    width: 768px;
    padding-left: 20px;
  }

  .acc_paragraph {
    margin: 5px 0 24px;
  }

  .main_wrap {
    width: 768px;
    margin: 0 auto;
  }



  .acc_text {
    width: 768px;
    margin: 0 auto;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }


  .acc_content {
    width: 924px;
  }

  .data_wrapper {
    width: 768px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .data_title {
    margin: 98px 0 22px;
  }

  .data_wrap {
    grid-template-columns: 110px 110px 139px 110px 110px 110px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 99px;
  }

  .data_item {
    font-size: 14px;
  }

  .content_hint {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header_wrap {
    width: 576px;
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .header_nav {
    margin-right: 20px;
  }

  .acc_heading {
    margin: 0;
  }

  .main_wrap {
    width: 576px;
    margin: 0 auto;
  }



  .acc_text {
    width: 576px;
    margin: 0 auto;
  }

  .header_nav {
    width: 324px;
  }

  .acc_paragraph {
    margin: 5px 0 24px;
  }

  .content_item {
    width: 288px;
    height: 269px;
  }

  .content_title,
  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 23px;
  }

  .acc_wrap {
    width: 536px;
    margin: 0 auto;
  }

  .acc_content {
    width: 924px;
  }

  .data_wrap {
    display: none;
  }

  .data_wrapper {
    width: 537px;
  }

  .data_wrap_phone-1 {
    display: grid;
    width: 576px;
    padding-left: 20px;
    grid-template-columns: 1fr 1fr 169px 1fr;
  }

  .data_period {
    grid-column: 2 / span2;
  }

  .process {
    grid-column: 4;
  }

  .item_start {
    grid-column: 1;
  }

  .data_item {
    font-size: 14px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 88px;
  }

  .content_hint {
    font-size: 15px;
  }

  .data_title {
    margin: 98px 0 24px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .header_nav {
    display: none;
  }

  .main_wrap {
    width: 320px;
    margin: 0 auto;
  }


  .acc_text {
    width: 320px;
    margin: 0 auto;
  }

  .burger_menu_link {
    display: block;
  }

  .header_wrap {
    width: 320px; 
  }

  .header_logo {
    width: 109px;
    height: 40px;
    margin: 13px 0 13px 20px;
  }

  .main_wrap_acc {
    padding-top: 50px;
    padding-bottom: 97px;
  }

  .acc_wrap {
    width: 320px;
    padding-left: 20px;
    margin-bottom: 74px;
  }

  .acc_content {
    width: 320px;
    flex-wrap: wrap;

  }

  .acc_text {
    width: 320px;
  }

  .acc_heading {
    font-size: 20px;
    margin: 0;
  }

  .acc_paragraph {
    font-size: 14px;
    width: 280px;
    margin: 5px 0 20px;
  }

  .content_item {
    width: 280px;
    height: 252px;
    margin-bottom: 37px;
  }

  .content_title {
    font-size: 20px;
    margin-left: 23px;
  }

  .content_text,
  .content_hint,
  .content_btn {
    margin-left: 23px;
    font-size: 14px;
  }

  .data_wrapper {
    width: 280px;
    margin-top: -66px;
  }

  .data_wrap {
    display: none;
  }

  .data-wrap_phone-2 {
    width: 320px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }

  .data_item {
    font-size: 14px;
  }


  .item_price {
    grid-row: 4;
    grid-column: 1;
  }

  .item_price_tx {
    grid-row: 4;
    grid-column: 2;
  }

  .item_wasted {
    grid-row: 5;
    grid-column: 1;
  }

  .item_wasted_tx {
    grid-row: 5;
    grid-column: 2;
  }

  .item_duration {
    grid-row: 6;
    grid-column: 1;
  }

  .item_duration_tx {
    grid-row: 6;
    grid-column: 2;
  }

  .data_tx-1 {
    grid-row: 8;
    grid-column: 1;
  }

  .data_tx-2 {
    grid-row: 8;
    grid-column: 2;
  }

  .data_tx-3 {
    grid-row: 9;
    grid-column: 2;
  }

  .data_tx-4 {
    grid-row: 11;
    grid-column: 2;
  }

  .data_tx-5 {
    grid-row: 12;
    grid-column: 2;
  }

  .data_tx-6 {
    grid-row: 13;
    grid-column: 2;
  }
}

