.wrap_enter {
  max-width: 667px;
  background-color: #f9f9f9;
  margin: 75px auto 42px;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_formEnter {
  width: 367px;
  margin: 100px auto;
  display: grid;
  position: relative;
}
.form__title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  margin: 0;
  color: #1a202c;
}
.form__paragraph {
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 5px 0 25px;
  color: #000;
}

.form__link {
  text-decoration: underline;
  color: #000;
}

.form__password {
  text-decoration: underline;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: #808080;
}

.form__input {
  width: 100%;
  border-radius: 7px;
  padding: 10px 20px 12px;
  margin-bottom: 15px;
  border: 2px solid #808080;
  box-sizing: border-box;
  background-color: transparent;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.form__input:focus,
.form__input:focus-visible {
  color: #000;
  border-color: #000;
}

.form__input::placeholder {
  color: #808080;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.form__button {
  border: 2px solid #ffac22;
  border-radius: 7px;
  padding: 10px 21px 12px;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  background-color: transparent;
  max-width: 170px;
}

.form__button:disabled {
  border-color: #808080;
  color: #808080;
}

.form__label {
  margin-bottom: 5px;
  color: #000;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  background-color: #f7fafc;
  border: 1px solid #808080;
  border-radius: 8px;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  margin: 0 11px 0 0;
}

.form__checkbox:checked {
  background-color: #ffac22;
}
@media (min-width: 992px) and (max-width: 1290px) {
  .wrap_enter {
    margin: 40px auto 20px;
    max-width: 599px;
    height: 503px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_enter {
    height: 572px;
    max-width: 727px;
    margin: 40px auto 25px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .wrap_enter {
    height: 485px;
    max-width: 536px;
    margin: 40px auto 25px;
  }

  .form__paragraph,
  .form__label,
  .form__input,
  .form__button,
  .form__password {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .wrap_enter {
    height: 415px;
    max-width: 320px;
    margin: 25px auto 10px;
    padding: 22px 20px 0;
  }

  .form__title {
    font-size: 20px;
    line-height: 23px;
  }

  .form__paragraph {
    font-size: 16px;
    line-height: 140%;
    margin-top: 5px;
  }

  .form__label {
    font-size: 16px;
    line-height: 140%;
  }

  .form__checkbox {
    font-size: 16px;
  }

  .form__container {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    align-items: start;
  }

  .form__button {
    font-size: 16px;
    padding: 5px 15px 5px;
    max-width: 130px;
    /* margin-bottom: 7px; */
  }

  .form__password {
    font-size: 16px;
    margin-top: 15px;
  }

  .form__input {
    font-size: 16px;
    padding: 10px 20px 10px;
  }

  .wrap_reg {
    max-width: 320px;
    margin: 25px auto 10px;
  }

  .wrap_signup {
    margin: 29px auto;
  }
}

@media (min-width: 992px) and (max-width: 1290px) {
  .wrap_reg {
    max-width: 599px;
    margin: 40px auto 25px;
    height: 503px;
  }

  .wrap_signup {
    margin: 68px auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrap_reg {
    max-width: 727px;
    margin: 40px auto 25px;
    height: 572px;
  }

  .wrap_signup {
    margin: 68px auto;
    width: 367px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .wrap_reg {
    max-width: 536px;
    margin: 40px auto 25px;
    height: 485px;
  }

  .wrap_signup {
    margin: 68px auto;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .wrap_reg {
    max-width: 320px;
    margin: 25px auto 10px;
    height: 415px;
  }

  .wrap_signup {
    padding: 29px 20px 0;
    display: table-cell;
  }
}
